/*Reset some default styles to all elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Set a background color for the entire page*/
body {
    background-color: #d9dcd6;
}

/*Style for the header of the page*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Style for the h1 element inside the header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Style for the .seo class inside the h1*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Style for the nav elements inside the header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Style for unordered lists inside the header*/
.header ul {
    list-style-type: none;
}

/*Style for items inside unordered lists*/
.header ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Style for links on the page*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Style for paragraphs on the page*/
p {
    font-size: 16px;
}

/*Style for a .hero section with background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Style for elements that float left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Style for elements that float right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Style for content elements*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Style for benefits section*/
.benefits { 
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Style for a benefit-type*/
.benefit-type {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Style for the h3 element inside a benefit-type*/
.benefit-type h3 { /*changed*/
    margin-bottom: 10px;
    text-align: center;
}

/*Style for the images inside a benefit-type*/
.benefit-type img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Style for the blue-columns section*/
.blue-columns {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Style for the images inside the blue-columns section*/
.blue-columns img { /*changed*/
    max-height: 200px;
}

/*Style for h2 elements inside the blue-columns section*/
.blue-columns h2 { /*changed*/
    margin-bottom: 20px;
    font-size: 36px;
}

/*Style for the footer of the page*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Style for h2 elements inside the footer*/
.footer h2 {
    font-size: 20px;
}
